<div class="container-fluid" id="section1">
  <div id="name_title">
    <p id="fname">Jimmy <span id="lname">Adames</span></p>
    <p id="aspire">web developer</p>
  </div>

  <div id="profile">
    <%= image_tag('profile_picture.jpg', class: "img-reponsive", size: "310x250")%>
    <hr>
    <p id="img_text">
      Welcome to my site. I grew up in a bilingual home and have always appreciated having the ability to communicate in different languages. I picked up a third language after graduating from University, and eventually became interested in Web Development. There are many languages in Web Development that enables me to create responsive web applications. I like video games, books (just got the game of thrones book collection!), sports (mainly basketball), and beer. Feel to have a look around, check out my apps, or leave me a message. Cheers.
    </p>
  </div>
</div>

  <section class="container-fluid" id="section2">
    <div class="container container-wide">
      <h1 class="margin-b-50 text-center">Resume</h1>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="resume-box">
            <i class="fa fa-book fa-3x" aria-hidden="true"></i>
            <h4><strong>Education</strong></h4>
            <br>
            <div class="timeline">
              <div class="institution">
                <span class="event-description text-center"><strong>Startup Institute</strong></span><br>
                <span class="event-date text-center">Oct 2016 - Dec 2016</span><br>
                <span class="event-name text-center">Web Development Track</span>
              </div>

              <hr>

              <div class="institution">
                <span class="event-description text-center"><strong>CareerFoundry</strong></span><br>
                <span class="event-date text-center">Nov 2015 - May 2016</span><br>
                <span class="event-name text-center">Web Development (Online)</span>
              </div>

              <hr>

              <div class="institution">
                <span class="event-description"><strong>SUNY Stony Brook</strong></span><br>
                <span class="event-date">Sep 2004 - Aug 2009</span><br>
                <span class="event-name">Bachelor of Arts Psychology</span><br>
                <span class="event-name">Bachelor of Arts Sociology</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="resume-box">
            <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>
            <h4><strong>Developer Toolbox</strong></h4>
            <br>
            <!-- Speciality -->
            <div class="speciality">
              <span class="speciality-icon"><i class="text-muted-2x ti-layers-alt"></i></span>
              <div class="speciality-content">
                <h5 class="margin-b-0 text-center">Front-End</h5>
                <p class="specialty-description text-center">HTML5, CSS, SASS, JavaScript, jQuery</p>
              </div>
            </div>
              <!-- Speciality -->
              <div class="speciality">
                <span class="speciality-icon"><i class="text-muted-2x ti-mobile"></i></span>
                <div class="speciality-content">
                  <h5 class="margin-b-0 text-center">Back-End</h5>
                  <p class="specialty-description text-center">Ruby on Rails</p>
                </div>
              </div>
            <!-- Speciality -->
            <div class="speciality">
              <span class="speciality-icon"><i class="text-muted-2x ti-desktop"></i></span>
              <div class="speciality-content">
                <h5 class="margin-b-0 text-center">QA</h5>
                <p class="specialty-description text-center">Rspec, Capybara</p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="resume-box">
            <i class="fa fa-language fa-3x" aria-hidden="true"></i>
            <h4><strong>Foreign Languages Spoken</strong></h4>
            <br>
            <!-- Skill -->
            <div class="skill">
              <p class="text-center">Spanish</p>
            </div>
            <!-- Skill -->
            <div class="skill">
              <p class="text-center">Japanese</p>
            </div>
          </div>


          <div class="resume-box">
            <hr>
            <i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
            <h4><strong>Hobbies</strong> &amp; Interests</h4>
            <br>
            <p class="specialty-description text-center">Music, Video Games, Basketball, Martial Arts, Reading</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section3">
    <div class="container">
      <h1 class="text-center">Projects</h1>
      <div class="row">
        <div class="col-sm-2">
          <div class="view view-first">
            <%=image_tag('ff7.jpg', size: "300x200") %>
            <div class="mask">
              <h2>Retro Game Blogger</h2>
              <p>A simple blog for posting reviews of retro video games.</p>
              <a href="https://video-game-blog.herokuapp.com" class="info">Visit App</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-2">
          <div class="view view-first">
            <%=image_tag('vinyl_girl.jpg', class: "img-responsive", size: "300x200") %>
            <div class="mask">
              <h2>Vinlyist Records</h2>
              <p>An eCommerce app where users can buy vinyl records.</p>
              <a href="http://vrecords.herokuapp.com" class="info">Visit App</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-2">
          <div class="view view-first">
            <%=image_tag('text.jpg', size: "300x200") %>
            <div class="mask">
              <h2>Messengr</h2>
              <p>Using Twilio’s API, this web app sends a standard text message to a user submitted phone number.</p>
              <a href="https://sms-messenger.herokuapp.com/" class="info">Visit App</a>
            </div>
          </div>
        </div>
    </div>
  </section>

  <div id="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Contact Me</h1>
          <hr>
        </div>
      </div>

      <%= flash[:notice] %>
      <%= form_tag("/static_pages/thank_you") do %>

        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <form name="contact_form" method="post" action="mail.php">
              <div class="row form-group">
                <div class="col-sm-4">
                  <%= label_tag :f_name, "First Name" %>
                  <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter First Name" %>
                </div>
                <div class="col-sm-4">
                  <%= label_tag :l_name, "Last Name" %>
                  <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Last Name" %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-8">
                  <%= label_tag :email, "Email Address" %>
                  <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-8">
                  <%= label_tag :message, "Message" %>
                  <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-10">
                  <%= submit_tag "Send", class: "btn btn-success" %>
                </div>
              </div>
            </div>

      <% end %>

        <div class="col-md-3 pull-right">
          <address>
            <strong>Address</strong><br>
            242 Schaefer Street<br>
            Brooklyn, NY 11207<br>
            P: (347) 605-7360
          </address>
          <address>
            <strong>Email</strong><br>
            <a href="mailto:#">jimmy.adames@gmail.com</a>
          </address>
        </div>
      </div>
    </div>
  </div>

  <footer id="section5">
    <div class="row">
        <div class="col-sm-4 col-xs-4" id="footer_signature">
          Jimmy Adames &copy; 2016
        </div>
        <div class="col-sm-1 col-sm-offset-4 col-xs-4">
            <a href="https://github.com/adamesj"><i class ="fa fa-github fa-2x" id="footer_icons"></i></a>
        </div>
        <div class="col-sm-1 col-xs-4">
            <a href="https://www.facebook.com/jimmy.adames.9"><i class="fa fa-facebook fa-2x" id="footer_icons"></i></a>
        </div>
        <div class="col-sm-1 col-xs-4">
            <a href="https://twitter.com/Intricatelyme"><i class="fa fa-twitter fa-2x" id="footer_icons"></i></a>
        </div>
        <div class="col-sm-1 col-xs-4">
            <a href="https://www.linkedin.com/in/jimmy-adames-75297338"><i class="fa fa-linkedin fa-2x" id="footer_icons"></i></a>
        </div>
    </div>
  </footer>