<section class="container-fluid" id="section1">
    <p id="fname">Jimmy <span id="lname">Adames</span></p>
    <p id="aspire">web developer</p>
    <div class="row" id="profile">
      <div class="col-sm-4 col-sm-push-7">
        <%= image_tag('profile_picture.jpg', class: "img-reponsive", size: "400x300")%>
        <hr>
        <p id="img_text">Welcome to my site. I've been developing since November 2015, and really enjoy the concepts and techniques studied so far and yet to come. I'm trilingual, speaking both Spanish and Japanese along with English. I like video games, books (just got the game of thrones book collection!), sports (mainly basketball), and beer. Feel to have a look around, check out my apps, or leave me a message. Cheers.</p>
      </div>
    </div>
  </section>

  <section class="container-fluid" id="section2">
    <div class="container">
      <h1 class="text-center" id="about_heading">About me</h1>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-left" id="intro_text">
            I'm back in New York after spending three wonderful years in Japan teaching English as a second language.
            I am now eagerly seeking a position where I can build upon the knowledge I've gained from the
            Full Stack Web Developer course from <a href="https://careerfoundry.com/en/">CareerFoundry.com</a>. Also,
            here's a neat little map showing all the places I've been so far. Still got a few more to go...
          </p>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div style='width: 800px;'>
              <div id="map" style='width: 500px; height: 200px;'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="text-center" id="skills_heading">Skills and Experience</h1>
    </div>
    <div class="container v-center" id="skills">
      <div class="row">
        <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 text-center">
                <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
                <h3>Frameworks</h3>
                <p>Ruby on Rails</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
                <h3>Front-End</h3>
                <p>HTML5, CSS, SASS, jQuery</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-12 text-center">
              <i class="fa fa-terminal fa-4x" aria-hidden="true"></i>
              <h3>Testing</h3>
              <p>RSpec, FactoryGirl</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
              <h3>Education</h3>
              <p>SUNY Stony Brook Psychology/Sociology Major</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-12 text-center">
              <i class="fa fa-code fa-4x" aria-hidden="true"></i>
              <h3>Programming languages</h3>
              <p>Ruby, Javascript</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>
              <h3>Resume</h3>
              <%= link_to button_tag('Click to view', class: "sqs-system-button sqs-editable-button", id: "resume_button", type: "button"), resume_path  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="container-fluid" id="section3">
    <h1 class="text-center">Built with Ruby on Rails</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
          <div class="work">
            <div class="row" id="projects">
              <div class="row">
                <div class="col-md-6 col-md-offset-1">
                  <div class="bkg_img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>

  <section id="section4">
    <div class="container v-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Contact Me</h1>
          <hr>
        </div>
      </div>

      <%= flash[:notice] %>
      <%= form_tag("/static_pages/thank_you") do %>
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <form name="contact_form" method="post" action="mail.php">
            <div class="row form-group">
              <div class="col-sm-4">
                <%= label_tag :f_name, "First Name" %>
                <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter First Name" %>
              </div>
              <div class="col-sm-4">
                <%= label_tag :l_name, "Last Name" %>
                <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Last Name" %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-8">
                <%= label_tag :email, "Email Address" %>
                <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-8">
                <%= label_tag :message, "Message" %>
                <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-10">
                <%= submit_tag "Send", class: "btn btn-success" %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-md-3 pull-right">
          <address>
            <strong>Address</strong><br>
            242 Schaefer Street<br>
            Brooklyn, NY 11207<br>
            P: (347) 605-7360
          </address>
          <address>
            <strong>Email</strong><br>
            <a href="mailto:#">jimmy.adames@gmail.com</a>
          </address>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" id="section5">
    <div class="row">
        <!--fontawesome icons-->
        <div class="col-sm-1 col-sm-offset-8 col-xs-4">
            <a href="https://github.com/adamesj"><i class="fa fa-github fa-4x"></i></a>
        </div>
        <div class="col-sm-1 col-xs-4">
            <a href="https://www.facebook.com/jimmy.adames.9"><i class="fa fa-facebook fa-4x"></i></a>
        </div>
        <div class="col-sm-1 col-xs-4">
            <a href="https://twitter.com/Intricatelyme"><i class="fa fa-twitter fa-4x"></i></a>
        </div>
        <div class="col-sm-1 col-xs-4">
            <a href="https://www.linkedin.com/in/jimmy-adames-75297338"><i class="fa fa-linkedin fa-4x"></i></a>
        </div>
    </div>
  </section>